<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developer.debbie.kinematickalculator" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Linear2D"
            android:label="@string/title_activity_linear2_d"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.developer.debbie.kinematickalculator.MainActivity" />
        </activity>
        <activity
            android:name=".Radial"
            android:label="@string/title_activity_radial"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.developer.debbie.kinematickalculator.MainActivity" />
        </activity>
        <activity
            android:name=".Projectile"
            android:label="@string/title_activity_projectile"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.developer.debbie.kinematickalculator.MainActivity" />
        </activity>
        <activity
            android:name=".LinearSolutions"
            android:label="@string/title_activity_linear_solutions"
            android:parentActivityName=".Linear2D" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.developer.debbie.kinematickalculator.Linear2D" />
        </activity>
    </application>

</manifest>
